<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330601475561-1gf4ggl1k5ha6ocv0uneq8ii24t3er7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330601475561-1gf4ggl1k5ha6ocv0uneq8ii24t3er7i</string>
	<key>API_KEY</key>
	<string>AIzaSyA8CuqwmOAnevijo0PuRc8FGLEjdInDZaE</string>
	<key>GCM_SENDER_ID</key>
	<string>330601475561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PDD-Inc.ParkinSense-12-4</string>
	<key>PROJECT_ID</key>
	<string>parkinsense-12</string>
	<key>STORAGE_BUCKET</key>
	<string>parkinsense-12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330601475561:ios:4afd799300cbf344ad2f78</string>
	<key>DATABASE_URL</key>
	<string>https://parkinsense-12.firebaseio.com</string>
</dict>
</plist>